# PostgreSQL
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb
POSTGRES_PORT=5433

# MongoDB
MONGO_INITDB_ROOT_USERNAME=mongouser
MONGO_INITDB_ROOT_PASSWORD=mongopassword
MONGO_PORT=27018

# Redis
REDIS_PASSWORD=redispassword
REDIS_PORT=6379

# ClickHouse
CLICKHOUSE_USER=clickhouseuser
CLICKHOUSE_PASSWORD=clickhousepassword
CLICKHOUSE_DB=clickhousedb
CLICKHOUSE_PORT=8123
CLICKHOUSE_HTTP_PORT=8124

# Elasticsearch
ELASTIC_PASSWORD=elasticpassword
ELASTIC_PORT=9200
